#generalContainer {
    background-color: #ebebeb;
    height: auto;
}

div.card {
    border-radius: 5px;
    border:1px solid transparent;
    background-color: white;
    height: 90px;
    line-height: 1;
}

div.card-group {
    margin: 30px 10px;
}

div.card-body p.card-title {
    font-size: 17px;
}

p.smallLetter, span.smallLetter {
    font-size: 14px;
}

div.marg-left {
    border-left: 1px solid #ebebeb;
}

div.main-marg {
    border-left: 5px solid #3483fa;
}