#generalContainer {
    background-color: #ebebeb;
    height: 400px;
}

img.discover {
    float: right;
    height: 100%;
    width: auto;
}

h1 {
    padding: 20px;
}

div.card-cont {
    margin: 0 0 10px 10px;
}

